:root {
    --main-color: #EC5242;
    --black: #272a31;
    --grey: #D3D3D3;
    --font-family: 'Lato',
        sans-serif;
    --white: #fff;
}

a {
    text-decoration: none;
    color: var(--main-color);
}
body{
    font-family: var(--font-family);
    
}
a:hover {
    text-decoration: none;
    color: var(--main-color);
}

h1 {
    font-size: 12px;
}

.fab,
.nav-text,
.top-navbar,
.event-info h1,
.event-info h2 {
    color: var(--white);

}

.fab,
.nav-text {
    padding: .5rem 1rem;
}

.main-color {
    color: var(--main-color);
}

.black-color {
    color: var(--black);
}

.white-color {
    color: var(--white);
}

.event p,
.date {
    font-family: var(--font-family);
}

.top-navbar {
    background-color: var(--black);
    justify-content: flex-end;
    height: 60px;
    align-items: center;
    padding-top: 30px;
    font-size: 15px;
}

.bottom-navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 40%;
    width: 40%;
}

.nav-link {
    font-size: 15px;
    color: var(--black);
}

.main-banner {
    background-color: #fff;
    min-height: 80vh;
}

.event-container {
    width: 50%;
    border: 3px solid var(--black);
}

.about-container {
    width: 60%;
    border: 3px solid var(--black);
    align-items: center;
}

.date {
    font-size: 12px;

}

.countdown {
    background-color: var(--black);
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
}

.count,
h4 {
    display: inline-block;
    font-size: 1.2em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    color: var(--main-color);
}

li span {
    display: block;
    font-size: 2.5rem;
    color: var(--main-color);
}


.section h1 {
    font-size: 18px;
}

.partner-list h2,
.countdown a,
.activities h4 {
    color: var(--main-color);
    font-size: 18px;
    text-align: center;
}

.card-columns h1 {
    font-size: 18px;
}

.main-program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/production/images/steel.png);
    background-color: #272a31;
    color: #fff;
}

.main-program .card {
    background-color: black;
    width: 50%;
    margin: 10px;
}

.fas {
    color: var(--main-color);
}

.round-border {
    /* border-bottom: 2px solid #ec5242; */
    width: 5rem;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(236, 82, 66);
    border-image: initial
}

.underline {
    width: 3rem;
    margin-left: 425px;
    border: 1px solid var(--main-color);
}

.guest-title h5 {
    font-size: 18px;
}

.small-underline {
    width: 1.5rem;
    justify-content: center;
    border: 1px solid var(--grey);
}

.guests {
    font-size: 12px;
    color: var(--black);
}

.guest-info h3 {
    font-size: 14px;
}

.guest-info p:first-of-type {
    font-size: 12px;
    color: var(--main-color);
    font-style: italic;
}

.guest-profile {
    display: flex;
    justify-content: center;
}

/* .card {
    margin: 20px;
    height: 30vh;
} */

.tickets-page {
    background-color: var(--grey);
    height: 70vh;
}

.ticket-area {
    display: grid;
    grid-template-columns: 2fr;
}

button {
    background-color: var(--main-color);
    padding: 15px;
    border: none;
    border-radius: 30px;
    color: var(--white);
}
.border-top{
    border-top: 3px solid black;
}
.logo-box{
    border:1px solid  #272a31 !important;

}
.concert-column .card {
    margin-bottom: .75rem;
}

.concert-card {
    max-width: 300px;
    color: #272a31;
}
.card-img-overlay {
    background: #ec5242;
    opacity: 0.7;
}
footer .logo-left img {
    align-items: left;
    height: 50px;
}

.back {
    background-color: var(--black);
    margin: 0 auto;
    padding: 0.5rem;
}

footer .copyright {
    font-size: 14px;
    line-height: 12px;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 22px;
}

.partner ul img {
    width: 100px;
    height: 100px;
}

@media screen and (max-width:769px) {
    .top-navbar {
        display: none
    }

   
}

@media screen and (min-width:992px){ 
.container{
    max-width: 960px;
}
@media screen and (min-width:1024px) {

    .main-program,
    .activities {
        padding: 65px;
        align-items: center;
    }

    .guests {
        width: 50%;
        margin-left: 350px;
        margin-right: 350px;

    }
    .card-img-overlay {
        display: block;
    }
}

/*helper classes*/
.tc {
    text-align: center;
}